alias cat="bat"
alias cp="cp -irv"
alias df="df -H"
alias du="du -sh"
alias less="less --ignore-case --raw-control-chars"
alias ls="exa --classify --group --git"
alias mkdir="mkdir -vp"
alias mv="mv -iv"
alias rg="rg --colors 'match:style:nobold' --colors 'path:style:nobold'"
alias rm="rm -iv"
alias rsync="rsync --partial --progress --human-readable --compress"
alias sha256="shasum -a 256"
alias k="kubectl"
